.text p {
    text-align: center;
    display: block;
    padding: 5% 0;
    margin: 2% 0;

}

.license_img_box {
    background-image: url(../images/bg-001.png);
    border-radius: 50px;
    margin: 1% 1.3%;
}


/* ////////////YOUTUBE/////////////// */
.youtube-rwd {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    margin: 5%;

}

.youtube-rwd iframe,
.youtube-rwd object,
.youtube-rwd embed {
    position: absolute;
    top: 1%;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

/* /////////////dv///////////////////////// */
.about {
    padding: 5%;
     position: relative;
}



p{
    color: seagreen;
}


.img01{
    position: absolute;
    top: 1%;
   
}



.img04 {
    position: absolute;
bottom: 4%;    
}


.gotop a {
    color: rgb(24, 75, 24);
}

.gotop a:hover {

    color: rgb(74, 94, 76);
}

@media screen and (min-width:768px) {


    .gotop {
        position: fixed;
        right: 50px;
        bottom: 50px;
        color: rgba(6, 53, 25, 0.979);
        font-size: 4em;
        /* display: none; */
        transition: all 3s;
    }

    .gotop_active {

        transform: rotate(365deg);
    }

}