.text p {
    text-align: center;
    display: block;
    padding: 5% 0;
    margin: 2% 0;

}

.license_img_box {
    background-image: url(../images/bg-001.png);
    border-radius: 50px;
    margin: 1% 1.3%;
}


/* ////////////YOUTUBE/////////////// */
.youtube-rwd {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    margin: 5%;

}

.youtube-rwd iframe,
.youtube-rwd object,
.youtube-rwd embed {
    position: absolute;
    top: 1%;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

/* /////////////內文///////////////////////// */

.about p{
    font-size: 1.5rem;
    color: seagreen;
}
.about {
    padding: 5%;
  width: 100%;
}






.img01{
    display: none;
   
}



.img04 {
 display: none;    
}



.gotop a {
    color: seagreen;
}

.gotop a:hover {

    color: rgb(74, 94, 76);
}



@media screen and (min-width:768px) {


    .about p{
        color: seagreen;
    }
    .about {
  
        padding: 5%;
         position: relative;
    }
    
    
    
    
    
    
    .img01{display: block;
        position: absolute;
        
       left: -2%;
    }
    
    
    
    .img04 {display: block;
        position: absolute;
    bottom: 4%;  
    right: -2%;  
    }

    .gotop1 a{
        position: fixed;


        right: 50px;
        bottom: 0px;
        color: seagreen;
        font-size: 4em;
        display: none;
        display: block;
        transition: all 0.5s;
    }

    .gotop_active {
        transform : rotate(360deg);
       position: fixed;


        right: 50px;
        bottom: 50px;
      
    } 

    
}  