

.social_box {
 
    display        : flex;
    justify-content: space-around;
}

.social_box p {

    font-size     : 1.5rem;
    font-weight   : 800;
    z-index: 3;
    top      : 55%;
    left     : 45%;
    transform: translate(-50%, -50%);
    position : absolute;
    
    color: rgb(253, 250, 250);

}
a{
   color: aliceblue;
}
.social_box i{
    opacity: 0.9;
   display: none;
    z-index: 4;
    position: absolute;
    top      : 40%;
    left     : 45%;
    transform: translate(-50%, -50%);
    /* color: cadetblue; */
    font-size: 5rem;
}

.social_box div,
img {
    border-radius: 50px;
   
}
.social_box img

{
    width: 90%;

}
.social_mask{
    width: 90%;
}
.social_mask:hover {
    opacity: 0.8;
    background-color: seagreen;
    
}

.social_mask {
    position        : absolute;
    top             : 0;
    left            : 0;
    z-index         : 1;
    background-color: rgba(116, 115, 114, 0.89);
    width           : 100%;
    height          : 100%;
    opacity         : 0.4;
    /* border-radius: 20px; */
    width: 90%;
}

.social_box_line {

    position: relative;

}

.social_box_fb {
    position: relative;

}

.social_box_ig {
    position: relative;


}

.form_form{
    margin: 5% auto;
    width: 70%;
    text-align: center;
}
.form_form label {
    max-width: 120px;
    min-width: 120px;
    display  : inline-block;
    margin: 0 auto;

}

 input,
textarea {
    margin-top   : 1em;
    margin-bottom: 1em;
    min-width    : 300px;
    max-width    : 450px;
}

textarea {
    min-height: 200px;
}
label,textarea{
    vertical-align:middle;
}
.enter{
    background-color:seagreen; 
    
    height: 3em; 
    text-align: center;
    border-radius: 20px;
    color:  rgb(245, 240, 240);
    font-size: 16px;
    width:80%;
font-weight: 700;
}


@media screen and (max-width: 768px) {
    .social {
        padding-top: 20px;
    }
    .social_box p,i{
      font-size: .7rem;
      position: absolute;
        top      : 50%;
        left     : 45%;
        transform: translate(-50%, -50%);
        
    }

    .social_box i{
        opacity: 0.9;
       display: none;
        z-index: 6;
        position: absolute;
        top      : 50%;
        left     : 45%;
        transform: translate(-50%, -50%);
        /* color: cadetblue; */
        font-size: 2rem;
    }
    .form_form{
        margin: 5% auto;
        width: 90%;
    }
    
}
@media screen and (max-width: 480px) {




}
